.header1 {
  font-family: "Lato" sans-serif;
  height: 90px;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--header-bg);
  color: #100c08;
  transition: all .2s ease-in-out
}

.header1__mobile-menu {
  display: none
}

.header1__logo {
  display: flex;
  justify-content: center;
  align-items: center
}

.header1__logo a {
  text-transform: uppercase;
  font-family: "Poiret One", cursive;
  font-size: 2rem;
  color: #100c08;
  text-decoration: none;
  transition: all .2s ease-in-out
}

.header1__logo a:hover {
  color: #100c08
}

.header1__collections-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  margin: 0
}

.header1__collections-nav--left {
  justify-content: flex-start
}

.header1__collections-nav--left .header1__collection-link:first-child {
  padding-left: 0
}

.header1__collections-nav--right {
  justify-content: flex-end;
  padding-right: 0
}

.header1__collections-nav--right .header1__user-link:last-child {
  padding-right: 0
}

.header1__collection-link--dropdown {
  position: relative;
  display: inline-block
}

.header1__collection-link--dropdown .fa-chevron-down {
  margin-left: 3px
}

.header1__collection-link--dropdown:hover .collection-sublinks {
  opacity: 1;
  visibility: visible
}

.header1__collection-link {
  display: block;
  padding: 5px 7px;
  transition: .2s ease-in-out
}

.header1__link {
  color: #100c08;
  text-transform: uppercase;
  display: block;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: .8rem;
  text-decoration: none
}

.header1__link:hover {
  color: #cc553e
}

.header1 .collection-sublinks {
  position: absolute;
  background: var(--header-bg);
  opacity: 0;
  visibility: hidden;
  padding: 10px;
  min-width: 200px;
  top: 35px;
  z-index: 15;
  transition: all .2s ease-in-out
}

.header1 .collection-sublinks li {
  display: block;
  margin-bottom: 10px;
  cursor: pointer
}

.header1 .collection-sublinks li a {
  color: #100c08;
  background: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  font-size: .8rem;
  padding: 7px;
  display: block
}

.header1 .collection-sublinks li a:hover {
  color: #cc553e
}

.header1 .collection-sublinks li:last-child {
  margin-bottom: 0
}

.header1__user-link {
  display: block;
  padding: 5px 15px;
  transition: .2s ease-in-out
}

.header1__user-link-icon {
  color: #100c08;
  display: block;
  font-weight: 400;
  font-size: .8rem;
  text-decoration: none
}

.header1__user-link-icon:hover {
  color: #cc553e
}

@media(max-width: 992px) {
  .header1 {
    position: relative
  }

  .header1__logo {
    display: none
  }

  .header1__mobile-logo {
    font-family: "Poiret One", cursive;
    font-size: 2rem;
    text-decoration: none;
    color: #100c08;
    text-transform: uppercase;
    padding: 0;
    display: block;
    line-height: 1;
    transition: all .2s ease-in-out
  }

  .header1__mobile-logo:hover {
    color: #100c08
  }

  .header1__collections-nav {
    display: none
  }

  .header1__mobile-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%
  }

  .header1__mobile-open {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #000;
    cursor: pointer
  }

  .header1__mobile-open i {
    font-size: 1.5rem
  }

  .header1__mobile-nav-left {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
    height: 100vh;
    width: 100%;
    z-index: 20
  }

  .header1__mobile-nav-content {
    position: relative;
    top: 0;
    left: 0;
    background: var(--header-bg);
    height: 100vh;
    max-width: 70%;
    padding: 10px 20px;
    z-index: 25
  }

  .header1__mobile-nav-header {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    z-index: 25;
    border-bottom: 1px solid #e2e1df
  }

  .header1__mobile-close {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #100c08;
    text-decoration: none;
    transition: all .2s ease-in-out;
    cursor: pointer
  }

  .header1__mobile-close i {
    font-size: 1.5rem
  }

  .header1__mobile-close:hover {
    color: #cc553e
  }

  .header1__mobile-link {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 15px;
    z-index: 25;
    transition: all .2s ease-in-out
  }

  .header1__mobile-link a {
    font-size: .9rem;
    font-weight: 300;
    color: #100c08;
    display: block;
    text-decoration: none;
    text-transform: uppercase
  }

  .header1__mobile-link a:hover {
    color: #cc553e
  }

  .header1__mobile-user-group {
    display: block;
    border-top: 1px solid #e2e1df;
    padding-top: 20px
  }

  .header1__mobile-user-link {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 15px;
    z-index: 25;
    transition: all .2s ease-in-out
  }

  .header1__mobile-user-link-icon {
    font-size: .7rem;
    color: #100c08;
    text-decoration: none;
    text-transform: uppercase
  }

  .header1__mobile-user-link-icon span {
    padding-left: 10px
  }

  .header1__mobile-user-link-icon:hover {
    color: #cc553e
  }

  .header1__mobile-item {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 15px;
    z-index: 25;
    transition: all .2s ease-in-out
  }

  .header1__mobile-item a {
    font-size: .9rem;
    font-weight: 300;
    color: #100c08;
    display: block;
    text-decoration: none;
    text-transform: uppercase
  }

  .header1__mobile-item a:hover {
    color: #cc553e
  }
}

@media(max-width: 768px) {
  .header1 {
    padding: 0 10px
  }
}

@media(max-width: 575px) {
  .header1 .header1__mobile-menu .header1__mobile-open {
    padding: 5px
  }
}