:root {
	--body-bg: #F5F3F4;
	--announce-bar-default: #001219
}

body {
	background: var(--body-bg)
}

.fixed-nav.fixed-nav--transparent .header,
.fixed-nav.fixed-nav--transparent .header1,
.fixed-nav.fixed-nav--transparent .header2,
.fixed-nav.fixed-nav--transparent .header3 {
	background: rgba(0, 0, 0, 0)
}

.fixed-nav.fixed-nav--transparent .header__logo a,
.fixed-nav.fixed-nav--transparent .header1__logo a,
.fixed-nav.fixed-nav--transparent .header2__logo a,
.fixed-nav.fixed-nav--transparent .header3__logo a {
	color: #f8f8ff
}

.fixed-nav.fixed-nav--transparent .header__link,
.fixed-nav.fixed-nav--transparent .header1__link,
.fixed-nav.fixed-nav--transparent .header2__link,
.fixed-nav.fixed-nav--transparent .header3__link {
	color: #f8f8ff
}

.fixed-nav.fixed-nav--transparent .header__link:hover,
.fixed-nav.fixed-nav--transparent .header1__link:hover,
.fixed-nav.fixed-nav--transparent .header2__link:hover,
.fixed-nav.fixed-nav--transparent .header3__link:hover {
	color: #ffb5a7
}

.fixed-nav.fixed-nav--transparent .header__user-link-icon,
.fixed-nav.fixed-nav--transparent .header1__user-link-icon,
.fixed-nav.fixed-nav--transparent .header2__user-link-icon,
.fixed-nav.fixed-nav--transparent .header3__user-link-icon {
	color: #f8f8ff;
	display: block;
	font-weight: 400;
	font-size: .8rem;
	text-decoration: none
}

.fixed-nav.fixed-nav--transparent .header__user-link-icon:hover,
.fixed-nav.fixed-nav--transparent .header1__user-link-icon:hover,
.fixed-nav.fixed-nav--transparent .header2__user-link-icon:hover,
.fixed-nav.fixed-nav--transparent .header3__user-link-icon:hover {
	color: #ffb5a7
}

.fixed-nav .header {
	position: fixed;
	height: 90px;
	width: 100%;
	transition: all .2s ease-in-out;
	z-index: 20
}